* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}

main > * {
  padding: 20px;
}

h1,
h2,
.nav-bar-links * {
  color: #0a0639;
}
h2 {
  font-size: 16px;
  margin-bottom: 25px;
  font-family: "Raleway", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
}
ul {
  list-style: none;
}
.logo {
  max-width: 25%;
}
.nav-bar-links {
  display: flex;
  font-size: 14px;
}
.nav-bar-links li {
  padding: 0 0.5rem;
}

a {
  text-decoration: none;
}

header {
  margin-bottom: 120px;
  color: #0a0639;
}
.input {
  margin-bottom: 3px;
}
.input input,
.free-starter > form > input {
  width: 90%;
  padding: 12px 0;
  border-radius: 0.2rem;
  padding-left: 20px;
  box-shadow: none;
  outline: none;
}

.header-text-form p {
  margin-bottom: 30px;
}

.input-message {
  color: crimson;
  font-size: 12px;
  opacity: 0;
}
.input-message-second {
  color: hsl(0, 6%, 83%);
  font-size: 12px;
  opacity: 0;
}
.first-illustration {
  width: 85%;
  margin-bottom: 30px;
}
h1 {
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  margin-bottom: 25px;
}

.get-started-button,
.free-starter-button {
  display: block;
  color: white;
  font-size: 15px;
  font-weight: 700;
  background-color: hsl(224, 93%, 58%);
  border-radius: 0.2rem;
  border: none;
  transition: background-color 0.3s ease;
  width: 90%;
  margin: auto;
  padding: 12px 0;
}

.main-part {
  position: relative;
  background-color: hsl(240, 75%, 98%);
  padding-bottom: 70px;
}

.main-part::before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -50px;
  left: 0;
  background-image: url("../images/bg-curve-mobile.svg");
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
}

.illustration-main {
  margin-bottom: 70px;
}
.second-illustration {
  width: 85%;
}
.main-part-text {
  text-align: left;
  padding: 5px;
  font-size: 14px;
  margin-bottom: 25px;
  color: hsl(0, 1%, 41%);
}

.free-trial-link {
  display: flex;
  gap: 5px;
  align-items: center;
  color: hsl(170, 45%, 43%);
  border-bottom: 1px solid;
  font-size: 14px;
  padding-bottom: 5px;
}
.free-trial-arrow-link {
  display: flex;
  justify-content: center;
  padding-left: 5px;
  gap: 5px;
  margin-bottom: 40px;
}

.testimonial-box {
  color: #0a0639;
  background-color: #ffffffc2;
  border-radius: 0.25rem;
  box-shadow: -1px 1px 7px 3px rgba(0, 0, 0, 0.123);
  width: 85%;
  margin: auto;
  text-align: left;
  padding: 15px 20px;
  line-height: 1.8;
}
.testimonial-box > p {
  font-size: 11px;
  margin-bottom: 5px;
}
.avatar-testimonial {
  border-radius: 50%;
  width: 70%;
}
.testimonial-box > div {
  display: flex;
}
h3 {
  font-size: 11px;
}
.testimonial-box > div > div:nth-child(2) > p {
  font-size: 9px;
}
.testimonial-box > div > div:nth-child(1) {
  display: flex;
  align-items: center;
  flex: 0.5;
}
.testimonial-box > div > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  flex: 3;
}
.free-starter {
  background-color: hsl(238, 22%, 44%);
  color: white;
  padding-top: 60px;
}
h4 {
  font-family: "Raleway", sans-serif;
  margin-bottom: 20px;
  font-size: 18px;
}
.free-starter > div > p {
  font-size: 15px;
  font-weight: 300;
  padding: 0 25px 0 25px;
  margin-bottom: 20px;
}
.free-starter > form > input[type="email"] {
  width: 75%;
  padding: 10px 0 10px 10px;
  font-size: 12px;
  color: hsl(0, 6%, 83%);
}
.free-starter-button {
  width: 75%;
  font-size: 12px;
  margin-bottom: 40px;
}
footer {
  text-align: left;
  background-color: hsl(243, 87%, 12%);
}
footer * {
  color: hsl(0, 1%, 79%);
}
.logo-bottom {
  margin: 30px 35px 20px;
}
.contact-info * {
  display: flex;
  gap: 15px;
  padding: 5px 15px;
}
.contact-info {
  margin-bottom: 30px;
}

.first-column-footer *,
.second-column-footer * {
  padding: 8px;
}
.first-column-footer,
.second-column-footer {
  margin-bottom: 24px;
}
.social-links {
  display: flex;
  gap: 12px;
  justify-content: center;
}
.social-links i {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 50%;
  width: 28px;
  height: 28px;
}

/*DESKTOP*/

@media (min-width: 400px) {
  main > * {
    padding: 70px 75px 0 75px;
    text-align: left;
  }

  .nav-bar-links * {
    font-size: 18px;
    padding: 20px;
  }

  header {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 250px;
  }
  header .header-text-form {
    margin-block-end: 80px;
    order: -1;
    width: 45%;
  }
  h1 {
    font-size: 38px;
  }
  .image-header {
    width: 50%;
  }
  .header-text-form p {
    margin-bottom: 25px;
    font-size: 17px;
  }

  .first-form {
    display: flex;
    align-items: flex-start;
    gap: 15px;
  }
  .input {
    display: flex;
    flex-direction: column;
    flex: 2;
  }
  .input input {
    width: auto;
    padding-top: 15px;
  }
  .first-illustration {
    width: 100%;
  }
  .get-started-button {
    flex: 1.3;
    margin: 0;
    padding: 15px 0;
  }
  .main-part {
    display: flex;
    padding-bottom: 100px;
  }

  .main-part::before {
    top: -80px;
    content: "";
    background-image: url("../images/bg-curve-desktop.svg");
  }
  .free-trial-link {
    font-size: 16px;
  }
  .free-trial-arrow-link {
    justify-content: flex-start;
  }

  .main-part-text-testimonials {
    order: -1;
    width: 100%;
  }

  .main-part-text {
    font-size: 16px;
    width: 80%;
    color: #0a0639;
  }

  h2 {
    font-size: 36px;
    margin-bottom: 30px;
  }
  .testimonial-box {
    width: 50%;
    margin-left: 10px;
  }
  .testimonial-box > p {
    font-size: 13px;
  }
  .illustration-main {
    position: relative;
    top: 40px;
    left: 100px;
  }
  .free-starter {
    display: flex;
    padding-bottom: 40px;
    padding-top: 80px;
  }
  .free-starter > div {
    width: 50%;
  }
  h4 {
    font-size: 32px;
  }
  .free-starter > div:nth-child(1) > p {
    font-size: 16px;
    width: 75%;
    padding: 0;
  }
  .second-form {
    padding-top: 20px;
    width: 50%;
    position: relative;
    left: 100px;
  }
  .free-starter > form > input[type="email"] {
    padding: 15px;
  }
  .free-starter-button {
    padding: 15px 0;
    margin: 0;
    font-size: 14px;
    width: 33%;
    align-self: flex-start;
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    padding-right: 180px;
  }
  footer {
    padding-bottom: 50px;
  }
}

/*ACTIVE STATES*/

.get-started-button:hover {
  background-color: hsl(224, 93%, 58%, 0.8);
  cursor: pointer;
}

.input input:focus + .input-message {
  opacity: 1;
}

.input input:focus {
  outline: none;
  border: 1px solid crimson; /* Set the border to red when in focus */
}
.free-starter > form > input[type="email"]:focus + .input-message-second {
  opacity: 1;
}

.free-starter-button:hover {
  cursor: pointer;
  background-color: hsl(224, 60%, 61%);
}

.first-column-footer *:hover,
.second-column-footer *:hover {
  color: hsl(224, 93%, 58%);
}
.social-links *:hover {
  color: hsl(224, 93%, 58%);
  border: 1px solid hsl(224, 93%, 58%);
}
